@import '_variables';

/**
 * @module: Base
 * @desc: allgemeiner Styles
 * @author: Yannick Herzog
 * @last-modified: 2015-08-12
 **/

* {
	box-sizing: border-box;
}

p {
	font-family: $baseFont;
	font-size: 1rem;
	line-height: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
	line-height: 1.4rem;
}

a {
	color: lighten($baseColor, 15%);
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	padding-left: 1rem;
}

li {
	font-family: 'Roboto', sans-serif;
	margin-top: 0.5rem;
	&:first-child {
		margin-top: 0;
	}
}
