@import '_variables';

/**
 * @module: Footer
 * @desc: allgemeiner Footer
 * @author: Yannick Herzog
 * @last-modified: 2017-04-05
 **/

.page__footer {
	background: $lightGray;

	p {
		font-family: $navFont;
		font-size: 0.8em;
		font-weight: 700;
	}
}
