@import '_variables';

/**
 * @module: Header
 * @desc: allgemeiner Header
 * @author: Yannick Herzog
 * @last-modified: 2017-04-05
 **/

.page__header {
	border-top: 8px solid $baseColor;
	padding-top: 2em;
	padding-bottom: 2em;
}

@media screen and (max-width: $media-mobile-max) {
	.page__header {
		padding-top: 1.6em;
		padding-bottom: 1.6em;
	}
}

.logo-container {
	a {
		display: inline-block;
	}
}

.logo {
	max-width: 100%;
}

@media screen and (max-width: $media-tablet-max) {
	.logo-container {
		line-height: 0;
		text-align: center;
		a {
			line-height: 0;
		}

		.logo {
			width: 80px;
		}
	}	
}
