/*
 * Colors
 */
$baseColor: #123654;
$lightBaseColor: lighten($baseColor, 20%);//#456987;
$lighterBlue: #E4F1FE;

$lighterGray: #f9f9f9;
$lightGray: #f3f3f3;
$gray: #d7d7d7;
$mediumGray: #e9e9e9;
$darkGray: #333333;

/*
 * Fonts
 */
$baseFont: 'Roboto', sans-serif;
$secondaryFont: 'Roboto Slab', serif;
$navFont: 'Noto Sans', sans-serif;
$navFont--size: 1.1em;
$navFont--weight: 700;
$heroFont: 'Changa One', serif;
$heroFont--size: 4em;
$heroFont--style: italic;

/*
 * Grid
 */
// $container-max-width: 1400px;

/*
 * Media Queries
 */
$media-sm-max: 480px !default;
$media-md-min: 481px !default;

// unsemantic
// $media-mobile-max: 767px !default;
// $media-tablet-min: 768px !default;
// $media-tablet-max: 1024px !default;
// $media-desktop-min: 1025px !default;
