/*
 * Colors
 */
$baseColor: #123654;
$lightBaseColor: lighten($baseColor, 20%); //#456987;
$lighterBlue: #e4f1fe;

$lighterGray: #f9f9f9;
$lightGray: #f3f3f3;
$gray: #d7d7d7;
$mediumGray: #e9e9e9;
$darkGray: #333333;

$c-brand: #123654;
$c-black: #222222;
$c-gray: #d7d7d7;
$c-dark-gray: #333333;
$c-medium-gray: #e9e9e9;
$c-light-gray: #f3f3f3;
$c-lighter-gray: #f9f9f9;

$c-danger: #ff0000;
$c-success: green;
$c-info: blue;

/*
 * Fonts
 */
$baseFont: "Roboto",
sans-serif;
$font-brand: $baseFont;
$secondaryFont: "Roboto Slab",
serif;

$navFont: "Noto Sans",
sans-serif;
$navFont--size: 1.1em;
$navFont--weight: 700;

$heroFont: "Changa One",
serif;
$heroFont--size: 4em;
$heroFont--style: italic;

/*
 * Grid
 */
// $container-max-width: 1400px;

/*
 * Media Queries
 */
$media-sm-max: 480px !default;
$media-md-min: 481px !default;

// Media queries
$screen-xs: "420px";
$screen-sm: "768px";
$screen-md: "992px";
$screen-lg: "1200px";
$screen-xl: "1920px";

// Margins & Paddings
$distance-sm: 0.2rem;
$distance-md: 0.6rem;
$distance-1: 1rem;
$distance-2: 2rem;
$distance-3: 3rem;
$distance-4: 4rem;
$distance-5: 5rem;
$distance-6: 6rem;
$distance-7: 7rem;
$distance-8: 8rem;
