---
layout: default.hbs
title: Kontakt
subtitle: Jetzt anrufen
name: kontakt
---

<section class="section">
	<div class="grid-container">
		<div class="grid-100">
			{{> page__headline}}
		</div>
		
	</div>

</section>
