---
layout: default.hbs
title: Kontakt
subtitle: Jetzt anrufen
name: kontakt
---

<section class="section">
	<div class="grid-container">
		<div class="grid-100">
			{{> page__headline}}
		</div>
		<div class="grid-50">
			{{> contact__form }}
		</div>
		<div class="grid-50">
			test
		</div>
	</div>

</section>
