<section>
	<form action="https://projekte.hit-services.net/form/form.php" class="form" method="POST">
		<div class="form-group">
			<label for="inputName" class="form__label">Name</label>
			<input type="text" class="form__field" id="inputName" placeholder="Bitte geben Sie hier Ihren Namen ein." required name="name">
		</div>
		<div class="form-group">
			<label for="inputEMail" class="form__label">E-Mail</label>
			<input type="email" class="form__field" id="inputEMail" placeholder="ihre.mail@adresse.com" required name="email">
		</div>
		<div class="form-group">
			<label for="inputMessage" class="form__label">Nachricht</label>
			<textarea name="comments" id="inputMessage" cols="30" rows="10" class="form__field" placeholder="Nennen Sie mir Ihr Anliegen."></textarea>
		</div>
		<div class="form-group text-center">
			<input type="submit" class="btn btn__primary" id="btnSubmit" value="Jetzt senden!">
		</div>
	</form>
</section>
