<div class="contact-bar">
	<p>Für Kommentare bin ich ereichbar über:</p>
	<a href="mailto:info@hit-services.net" class="btn btn__secondary--big" title="Mail an info@hit-services.net"><i class="fa fa-envelope"></i></a>
	<a href="https://twitter.com/yannickherzog" class="btn btn__secondary--big" title="Follow @yannickherzog"><i class="fa fa-twitter"></i></a>
</div>