<section class="hero">
	<div class="grid-container">
		<div class="grid-100">
			<div class="claim__container--dark">
				<span class="claim claim__hero claim__hero--big">Hallo</span>
				<span class="claim claim__hero claim__hero--sub">ich helfe Ihnen bei der Erstellung Ihrer <br><strong>Website</strong> oder <strong>Webapplikation</strong></span>
			</div>
			<div class="button-bar button-bar--center">
				<a href="/projekte" class="btn btn__ghost--dark claim__button">Projekte ansehen</a>
				<a href="/kontakt.html" class="btn btn__ghost--dark claim__button">Projekt anfragen</a>
			</div>
		</div>
	</div>	
</section>
