<div class="project__card">
	<figure class="project__card-container">
		<img src="{{assets}}/img/vallee-verte.jpg" alt="" class="project__card-img">
		<figcaption class="project__card-caption">
			<div class="project__card-caption-item-wrapper">
				<div style="display:table-cell; vertical-align:middle;">
					<div class="project__card-caption-item">
						<a href="" class="project__card-caption-item-link"><i class="fa fa-search"></i> Details anzeigen</a>
					</div>
					<div class="project__card-caption-item">
						<a href="" class="project__card-caption-item-link"><i class="fa fa-link"></i> Website &ouml;ffnen</a>
					</div>
				</div>
			</div>
		</figcaption>
	</figure>
</div>
