---
layout: default.hbs
title: Baas & Dulsan OHG
date: 2013-05-15
name: projekte
slider: true
collection: projekte
data:
 projects: ../../models/projects.json
---

<section class="section">
	<div class="grid-container">
		{{> modules/project__desc data.projects.[7] }}
	</div>
</section>

{{> modules/pagination__article prev=previous next=next isProject=true}}
