---
layout: default.hbs
title: Campus App
date: 2013-03-14
name: projekte
slider: true
collection: projekte
data:
 projects: ../../models/projects.json
---

<section class="section">
	<div class="grid-container">
		{{> modules/project__desc data.projects.[4] }}
	</div>
</section>
{{> modules/pagination__article prev=data.projects.[5] next=data.projects.[3] isProject=true}}
