---
layout: default.hbs
title: Docady
date: 2015-03-14
name: projekte
slider: true
collection: projekte
data:
 projects: ../../models/projects.json
---

<section class="section">
	<div class="grid-container">
		{{> modules/project__desc data.projects.[9] }}
	</div>
</section>
{{> modules/pagination__article prev=data.projects.[10] next=data.projects.[8] isProject=true}}
