---
layout: default.hbs
title: Ernst Umformtechnik GmbH - Besuchermanagement-System
date: 2012-09-15
name: projekte
slider: true
collection: projekte
data:
 projects: ../../models/projects.json
---

<section class="section">
	<div class="grid-container">
		{{> modules/project__desc data.projects.[6] }}
	</div>
</section>

{{> modules/pagination__article prev=previous next=next isProject=true}}
