---
layout: default.hbs
title: Fahrschule Hohenbaden GmbH
date: 2012-10-15
name: projekte
draft: true
slider: true
collection: projekte
data:
 projects: ../../models/projects.json
---

<section class="section">
	<div class="grid-container">
		{{> modules/project__desc data.projects.[1] }}
	</div>
</section>

{{> modules/pagination__article prev=previous next=next isProject=true}}
