---
layout: default.hbs
title: Hochschule Offenburg - Website-Template
date: 2016-07-30
name: projekte
collection: projekte
data:
 projects: ../../models/projects.json
---

<section class="section">
	<div class="grid-container">
		{{> modules/project__desc data.projects.[12] }}
	</div>
</section>
{{> modules/pagination__article prev=data.projects.[13] next=data.projects.[11] isProject=true}}
