---
layout: default.hbs
title: Projekte
subtitle: Eine Auswahl meiner Arbeiten
name: projekte
data:
 kunden: ../../models/kunden.json
 projects: ../../models/projects.json
---

<section class="section">
	<div class="grid-container">
		<div class="grid-100">
			{{> page__headline}}
		</div>
		{{#withSort data.projects "order" reverse="true"}}
			{{#unless draft}}
				<div class="grid-33 tablet-grid-50">
				{{> modules/project__card }}
				</div>
			{{/unless}}
		{{/withSort}}
	</div>
</section>

<section class="section">
	<div class="grid-container">
		<div class="grid-100">
			<h3 class="section__headline"><span>Weitere zufriedene Kunden</span></h3>
		</div>
		<div class="grid-70 prefix-15 grid-parent">
			{{#withFirst data.kunden 6}}
			<div class="grid-33 tablet-grid-33 mobile-grid-50">
				<div class="project__card">
					<figure class="project__card-container">
						<img src="{{image}}" alt="{{name}}" class="project__card-img">
					</figure>
				</div>
			</div>
			{{/withFirst}}
		</div>
	</div>
</section>
