---
layout: default.hbs
title: Nautic Club Kehl e.V.
date: 2016-03-01
name: projekte
slider: true
collection: projekte
data:
 projects: ../../models/projects.json
---

<section class="section">
	<div class="grid-container">
		{{> modules/project__desc data.projects.[10] }}
	</div>
</section>

{{> modules/pagination__article prev=previous next=next isProject=true}}
