---
layout: default.hbs
title: Pikante - Feine Spezialitäten
date: 2016-11-15
name: projekte
collection: projekte
data:
 projects: ../../models/projects.json
---

<section class="section">
	<div class="grid-container">
		{{> modules/project__desc data.projects.[14] }}
	</div>
</section>
{{> modules/pagination__article prev=data.projects.[15] next=data.projects.[13] isProject=true}}
