---
layout: default.hbs
title: SaaS - digitale Checklisten
date: 2018-12-11
name: projekte
slider: true
collection: projekte
data:
 projects: ../../models/projects.json
---

<section class="section">
	<div class="grid-container">
		{{> modules/project__desc data.projects.[20] }}
	</div>
</section>

{{> modules/pagination__article prev=previous next=next isProject=true}}
