---
layout: default.hbs
title: SV Kork e.V.
date: 2014-03-30
name: projekte
slider: true
collection: projekte
data:
 projects: ../../models/projects.json
---

<section class="section">
	<div class="grid-container">
		{{> modules/project__desc data.projects.[5] }}
	</div>
</section>
{{> modules/pagination__article prev=data.projects.[6] next=data.projects.[4] isProject=true}}
