---
layout: default.hbs
title: Labor Medienforschung - think new
date: 2016-03-15
name: projekte
slider: true
collection: projekte
data:
 projects: ../../models/projects.json
---

<section class="section">
	<div class="grid-container">
		{{> modules/project__desc data.projects.[11] }}
	</div>
</section>

{{> modules/pagination__article prev=previous next=next isProject=true}}
