---
layout: default.hbs
title: Vallée Verte Handelsgesellschaft für Naturprodukte mbH
date: 2015-05-02
name: projekte
collection: projekte
data:
 projects: ../../models/projects.json
---

<section class="section">
	<div class="grid-container">
		{{> modules/project__desc data.projects.[8] }}
	</div>
</section>
{{> modules/pagination__article prev=data.projects.[9] next=data.projects.[7] isProject=true}}
