---
layout: default.hbs
title: ViDa Logistik GmbH
date: 2017-03-20
name: projekte
slider: true
collection: projekte
data:
 projects: ../../models/projects.json
---

<section class="section">
	<div class="grid-container">
		{{> modules/project__desc data.projects.[16] }}
	</div>
</section>

{{> modules/pagination__article prev=previous next=next isProject=true}}
