---
layout: default.hbs
title: Verlorenes ownCloud Admin-Passwort zurücksetzen
published: true
tags:
- ownCloud
- Password
categories:
- Cloud
date: 2013-03-15
teaser: Aus gegebenem Anlass möchte ich kurz beschreiben, wie man ein vergessenes ownCloud-Passwort über das MySQL-Verwaltungstool phpMyAdmin zurücksetzen kann. Es sind keine SQL-Kenntnisse erforderlich und so kann dieser Schritt auch von ungeübten durchgeführt werden.
posts: true
collection: blog
---
<section class="grid-container">
	<article class="grid-60 prefix-20 tablet-grid-80 tablet-prefix-10 article__item">
		<h2 class="article__headline">{{title}}</h2>
		<div class="article__toolbar">
			<time datetime="{{formatDate date "YYYY-MM-DD"}}T00:00" class="article__publishedDate">{{formatDate date "LL"}}</time>
		</div>
		<p>Aus gegebenem Anlass möchte ich kurz beschreiben, wie man ein vergessenes ownCloud-Passwort über das MySQL-Verwaltungstool phpMyAdmin zurücksetzen kann. Es sind keine SQL-Kenntnisse erforderlich und so kann dieser Schritt auch von ungeübten durchgeführt werden.</p>
		<p>Ich habe die letzten Tage etwas mit dem LDAP-Dienst meines NAS von QNAP gearbeitet und wollte meine ownCloud an diesen LDAP-Dienst anbinden. Dies ging recht flott. Jedoch hatte ich bereits einen lokalen ownCloud-Account angelegt, mit dem Ordner erfolgreich synchonisiert wurden. Durch die LDAP-Integration kam ein weitere Benutzer hinzu, allerdings war dieser kein Administrator und konnte somit die Einstellungen nicht beeinflussen.</p>
		<p>Nach einigen Tests und Passwortänderungen des lokalen Benutzers, konnte ich mich leider nicht mehr anmelden. Zu diesem Umstand kam auch noch hinzu, dass ich dem lokalen Benutzer keine eMail-Adresse vergeben hatte, so dass ein Zuschicken eines neuen Passwortes durch ownCloud selbst fehlschlug. Also machte ich mich auf, das Problem direkt in der Datenbank zu beheben.</p>
		<h3>Passwort mit phpMyAdmin zurücksetzen</h3>
		<p>Es gibt aber einen einfachen Weg, dass Passwort wieder zurückzusetzen. Nachdem man sich in phpMyAdmin angemeldet hat, muss die Datenbank der ownCloud geöffnet werden. Darin befinden sich sämtliche Tabellen. Für uns ist die Tabelle "oc_users" interessant. Diese beinhaltet sämtliche Benutzer und deren Passwörter. Meine anfänglichen Versuche, ein neues Passwort im Klartext einzufügen, schlug natürlich fehl. Nach kurzer Recherche erfuhr ich, dass die Passwörter mit dem Hash-Algorithmus SHA1 gehasht und ein Salt hinzugefügt wird.</p>
		<p>Und jetzt kommt der wichtige Teil:</p>
		<p>Der Eintrag des Benutzer muss durch den Bleistift-Icon editiert werden. Es erscheint die Editiermaske in der für den Eintrag "<em>password</em>" über das Funktion-Drop-Down-Feld "<em>SHA1</em>" ausgewählt wird. Als "Wert" kann ein belibiges Passwort eingetragen werden.</p>
		<p>Die durchgeführten Schritte werden mit OK bestätigt. In der Übersicht der Tabelle "<em>oc_users</em>" sieht man, dass das eingetragene Passwort gehasht wurde. Jedoch fehlt noch das Salt, welches in der configuration.php bestimmt wird. Um dieses mit einzurechnen, muss man sich einfach mit dem Benutzer und dem zuvor gewählten Passwort an der ownCloud anmelden und über den Navigationspunkt "Persönlich" sein eigenes Passwort ändern. Dadurch wird auch das Salt hinzugefügt.</p>
		<p>Fertig.</p>
	</article>
	<div class="grid-60 prefix-20 tablet-grid-80 tablet-prefix-10">
		{{> modules/contact-bar }}
	</div>
</section>
{{> modules/pagination__article prev=previous next=next isProject=false}}
