@import '../_variables';

/**
 * @component: Buttons
 * @desc: Buttons
 * @author: Yannick Herzog
 * @last-modified: 2015-12-10
 **/

$btn-radius: 40px;

.btn {
	display: inline-block;
	font-family: $baseFont;
	font-size: 1em;
	line-height: 1em;
	padding: 1em 1.6em 1.2em;
	text-decoration: none;
	white-space: nowrap;
	transition: background .3s ease-in-out, color .3s ease-in-out;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

.btn__primary {

}

.btn__primary--rounded {
	background: $baseColor;
	border-radius: $btn-radius;
	color: #ffffff;

	&:hover,
	&:focus {
		background: lighten($baseColor, 15%);
	}
}

.btn__ghost--dark {
	border: 2px solid $baseColor;
	border-radius: $btn-radius;
	color: $baseColor;

	&:hover,
	&:focus {
		background: $baseColor;
		color: #ffffff;
	}
}

.btn__ghost--light {
	border: 1px solid #ffffff;
	border-radius: $btn-radius;
	color: #ffffff;

	&:hover,
	&:focus {
		background: #ffffff;
		color: $baseColor;
	}
}

.btn__ghost--light--filled {
	background: lighten($baseColor, 10%);
	border: 1px solid #ffffff;
	border-radius: $btn-radius;
	color: #ffffff;

	&:hover,
	&:focus {
		background: #ffffff;
		color: $baseColor;
	}
}

.button-bar {
	margin-top: 3em;
	.btn {
		margin-left: 1em;
		&:first-child {
			margin-left: 0;
		}
	}
}

.button-bar--center {
	text-align: center;
}

@media screen and (max-width: $media-sm-max) {
	.button-bar {
		.btn {
			display: block;
			margin-top: 0.85em;
			margin-left: 0;
			&:first-child {
				margin-top: 0;
			}
		}
	}
}
