@import "../_variables";

/**
 * @module: Cards
 * @desc: Cards
 * @author: Yannick Herzog
 * @last-modified: 2018-12-10
 **/

.card {
  border: 1px solid $mediumGray;
  padding: 1em;

  &--shadow {
    box-shadow: 0 0 8px 0px transparentize($gray, 0.5);
  }

  &--round {
    border-radius: 5px;
  }
}

.no-csshyphens {
  .card {
    text-align: center;
  }
}

@media screen and (max-width: $media-tablet-max) {
  .card {
    margin-bottom: $gutter-half * 2;
  }
}

@media screen and (min-width: $media-desktop-min) {
  .card {
    min-height: 23em;
  }
}

.card__header {
  color: $baseColor;
  text-align: center;
  margin: 2.5em 0;
}

.card__headline {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0.6em;
  letter-spacing: 2px;
}

.card__content {
  color: $darkGray;
  font-family: $baseFont;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.4em;
  hyphens: auto;
}

.card__footer {
  margin-top: 1.5rem;
  text-align: right;
}

.card__link {
  color: $darkGray;
  font-family: $navFont;
  font-size: 1em;
  font-weight: 300;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
