@import "../_variables";

/**
 * @module: Lists
 * @desc: Listen
 * @author: Yannick Herzog
 * @last-modified: 2017-04-05
 **/

.list {
  list-style: none;
  &--horizontal {
    display: flex;
    li {
      margin-top: 0;
    }
  }
}
