---
layout: default.hbs
title: Über
subtitle: Warme Worte über mich
name: ueber
---

<section class="section">
	<div class="grid-container">
		<div class="grid-100">
			{{> page__headline}}
		</div>
		
	</div>

</section>
