---
layout: default.hbs
title: Allgemeine Geschäftsbedingungen
subtitle: 
name: agb
---

<section class="section">
	<div class="grid-container">
		<div class="grid-100">
			{{> page__headline}}
		</div>
		<div class="grid-70 prefix-15 tablet-grid-80 tablet-prefix-10">
            <p><strong>§1 Gegenstand des Vertrags</strong></p>
            <ol>
                <li>Die nachstehenden allgemeinen Geschäftsbedingungen gelten für alle Rechtsgeschäfte von Yannick Herzog IT Services, mit den Vertragspartnern, nachstehend in Kurzform „Kunde“ genannt. Von diesen Geschäftsbedingungen abweichende Bedingungen des Kunden werden von Yannick Herzog IT Services nur nach gesonderter und schriftlicher Anerkennung akzeptiert.</li>
                <li>Alle Vereinbarungen, die zwischen Yannick Herzog IT Services und dem Kunde zwecks Ausführung eines Auftrages getroffen werden, sind in schriftlicher Form zu vereinbaren. Änderungen, Ergänzungen und Nebenabreden bedürfen zu ihrer Wirksamkeit der Schriftform.</li>
                <li>Diese Geschäftsbedingungen gelten auch für alle künftigen Geschäftsbeziehungen mit dem Kunden, auch wenn sie nicht nochmals ausdrücklich vereinbart werden.</li>
                <li>Yannick Herzog IT Services erbringt Dienstleistungen im Medien- und Kommunikationssektor. Die detaillierte Beschreibung der zu erbringenden Dienstleistungen ergeben sich aus den Ausschreibungsunterlagen, Briefings, Projektverträgen, deren Anlagen und Leistungsbeschreibungen.</li>
            </ol>
            
            <p><strong>§2 Auftragsrahmen</strong></p>
            <ol>
                <li>Der Vertrag kommt zustande durch Angebotsbestätigung des Kunden oder Auftragsbestätigung durch Yannick Herzog IT Services.</li>
                <li>Wenn eine Anzahlung vereinbart wurde, beginnt der Auftrag nicht vor Geldeingang.</li>
                <li>Hinsichtlich der Wahl von Zeit und Ort bei der Durchführung der Arbeit ist Yannick Herzog IT Services grundsätzlich frei.</li>
                <li>Mit der Erbringung der angebotenen Leistungen gilt das Projekt als beendet. Nach Projektende hat der Kunde die Möglichkeit, innerhalb von 14 Tagen Mängel zu beanstanden. Diese Frist endet automatisch, wenn das Ergebnis des Angebots produktiv verwendet wird.</li>
            </ol>

            <p><strong>§3 Vertragsgrundlagen und Softwarespezifikation</strong></p>
            <ol>
                <li>Technische Grundlage jedes Entwicklungsauftrages ist das Pflichtenheft oder die im Angebot hinterlegte Leistungsbeschreibung.</li>
                <li>Das Pflichtenheft ist von Kunden zu erstellen, eine eventuelle Mitwirkung des Entwicklers an der Erstellung des Pflichtenheftes ist gesondert zu vergüten.</li>
            </ol>

            <p><strong>§4 Pflichten des Kunden</strong></p>
            <ol>
                <li>Der Kunde stellt alle für die Durchführung des Projekts benötigten Daten und Unterlagen unentgeltlich und zeitnah zur Verfügung. Kommt der Kunde dem nicht nach, kann es zu Verzögerungen im Projektplan kommen, auch über den eigentlichen Zeitraum der Verzögerung hinaus.</li>
                <li>Ebenfalls verpflichtet sich der Kunde, Zwischenergebnisse zeitnah abzunehmen und Mängel unverzüglich aufzuzeigen, um den Projektablauf nicht zu gefährden. Unwesentliche Mängel stellen keinen Grund zur Nichtabnahme dar. Legt der Kunde nach Lieferung eines Zwischenergebnisses nicht innerhalb von 7 Tagen Einspruch ein, gilt ein Zwischenergebnis als abgenommen.</li>
                <li>Der Kunde prüft durch Abnahmetests das Vorhandensein der zugesicherten Eigenschaften sowie der wesentlichen Programmfunktionen. Die Testphase dauert maximal 14 Tage. Hat die Software die Abnahmetests bestanden, ist der Kunde verpflichtet, eine schriftliche Abnahmeerklärung abzugeben. Gegebenenfalls festgestellte kleinere Mängel sind in der Abnahmeerklärung festzuhalten. Erfolgt die schriftliche Abnahmeerklärung nicht binnen 7 Tagen nach Ende der Abnahmetests, gilt nach Ablauf dieser Frist die Software als abgenommen.</li>
                <li>Dem Kunden ist bekannt, dass das betreiben einer Website mit Risiken verbunden ist. Rechtliche Rahmenbedingungen können sich ändern und bisher unbekannte Sicherheitslücken in der verwendeten Software bekannt werden. Er trägt die Verantwortung für das Einhalten der gesetzlichen Bestimmungen und einer regelmäßigen Aktualisierung der verwendeten Systeme.</li>
                <li>Werden alle vereinbarten Auflagen erfüllt, so trägt der Kunde das Risiko des Nichtgefallens.</li>
            </ol>

            <p><strong>§5 Verzug</strong></p>
            <ol>
                <li>Ist für die Erstellung der Software ein Fixtermin vereinbart und wird dieser von Yannick Herzog IT Services nicht eingehalten, hat der Kunde die Pflicht zur schriftlichen Mahnung. Ein Rücktritt des Kunden vom Vertrag ist nur zulässig, wenn dieser nach erfolgter Mahnung Yannick Herzog IT Services eine angemessene Nachfrist zur Fertigstellung gesetzt hat und innerhalb dieser Frist eine Fertigstellung nicht erfolgt ist. Die Frist darf nicht weniger als 4 Wochen betragen. Der Rücktritt ist ausgeschlossen, wenn die Überschreitung des Fertigstellungstermins auf nachträgliche Änderungswünsche des Kunden zurückzuführen ist.</li>
            </ol>

            <p><strong>§6 Haftung</strong></p>
            <ol>
                <li>Trotz dem Anspruch zur Lieferung des bestmöglichen Ergebnis für seine Kunden, sind Fehler leider nie ganz auszuschließen.</li>
                <li>Yannick Herzog IT Services haftet maximal in Höhe der Hälfte der Auftragssumme und nur im Falle grober Fahrlässigkeit. Für Fehler Dritter haftet Yannick Herzog IT Services nicht. Kommt es zu Verzögerungen durch höhere Gewalt, so ist ein angemessener Aufschub zu gewähren.
Die Haftung für Mangelfolgeschäden aus dem Rechtsgrund der positiven Vertragsverletzung ist ausgeschlossen, wenn und in dem Maße, wie sich die Haftung nicht aus einer Verletzung der für die Erfüllung des Vertragszweckes wesentlichen Pflichten ergibt.</li>
                <li>Die Haftung für Datenverlust wird auf den typischen Wiederherstellungsaufwand beschränkt, der bei regelmäßiger und gefahrentsprechender Anfertigung von Sicherungskopien eingetreten wäre.</li>
            </ol>
                        
            <p><strong>§7 Zahlungsbedingungen</strong></p>
            <ol>
                <li>Angebote verstehen sich, wenn nicht anders angegeben, als Kostenschätzung und können im Laufe des Projektes korrigiert werden – in beide Richtungen. So lässt sich flexibel auf zuvor nicht geplante Projektänderungen reagieren.</li>
                <li>Nach Projektende wird die Auftragssumme unverzüglich in Rechnung gestellt. Bei Projekten die sich über mehrere Monate erstrecken, wird, falls nicht anders vereinbart, jeweils zum Monatsende eine Abschlagsrechnung gestellt. Bei Aufträgen, die in zur Umsetzung eines agilen Projektverlaufes in Sprints durchgeführt werden, ist der jeweils nächste Sprint im Voraus zu bezahlen.</li>
                <li>Zahlungen sind, wenn nicht anders vertraglich geregelt, innerhalb von 14 Tagen nach Rechnungsstellung ohne jeden Abzug fällig. Bei Überschreitung der Zahlungstermine steht Yannick Herzog IT Services ohne weitere Mahnung ein Anspruch auf Verzugszinsen in Höhe von 8% über dem Basiszinssatz nach §1 des Diskontsatz-Überleitungsgesetzes zu. Das Recht zur Geltendmachung eines darüber hinausgehenden Schadens bleibt von dieser Regelung unberührt.</li>
                <li>Bei Änderungen oder Abbruch von Aufträgen, Arbeiten und Dergleichen durch den Kunden und/oder wenn sich die Voraussetzungen für die Leistungserstellung ändert, wird Yannick Herzog IT Services alle dadurch anfallenden Kosten ersetzt und von jeglichen Verbindlichkeiten gegenüber Dritten freigestellt.</li>                
                <li>Bei einem Rücktritt des Kunden von einem Auftrag vor Beginn des Projektes, wird eine Aufwandsentschädigung in Höhe von 50% der Auftragssumme fällig.</li>
                <li>Skonto wird nicht gewährt.</li>
            </ol>
            
            <p><strong>§8 Geheimhaltungspflicht</strong></p>
            <ol>
                <li>Yannick Herzog IT Services ist verpflichtet, alle Kenntnisse zur Erfüllung eines Auftrags, zeitlich unbeschränkt streng vertraulich zu behandeln und sowohl Mitarbeiter, als auch herangezogene Dritte ebenfalls in gleicher Weise zu absolutem Stillschweigen zu verpflichten.</li>    
            </ol>
            
            <p><strong>§9 Vertragsdauer, Kündigungsfristen</strong></p>
            <ol>
                <li>Der Vertrag tritt mit seiner Unterzeichnung in Kraft. Er wird für die im Vertrag genannte Vertragslaufzeit abgeschlossen. Ist der Vertrag auf unbestimmte Zeit geschlossen, kann dieser mit einer Frist von drei Monaten von beiden Seiten zum Monatsende gekündigt werden. Das Recht zur fristlosen Kündigung aus wichtigem Grund bleibt von dieser Regelung unberührt. Eine Kündigung bedarf der Schriftform.</li>
            </ol>

            <p><strong>§10 Streitigkeiten</strong></p>
            <ol>
                <li>Die Parteien verpflichten sich, bei Meinungsverschiedenheiten ein Schlichtungsverfahren mit dem Ziel durchzuführen, eine interessengerechte und faire Vereinbarung im Wege einer Mediation mit Unterstützung eines neutralen Schlichters unter Berücksichtigung der wirtschaftlichen, rechtlichen, persönlichen und sozialen Gegebenheiten zu erarbeiten. Alle Streitigkeiten, die sich im Zusammenhang mit diesem Vertrag oder über seine Gültigkeit ergeben, werden vor Einschaltung der Gerichte bei einem von Yannick Herzog IT Services zu bestimmenden Wirtschaftsmediator geschlichtet. Die Kosten hierfür werden von Kunden und Yannick Herzog IT Services geteilt.</li>
                <li>Das gerichtliche Mahnverfahren bleibt aber zulässig.</li>
            </ol>
            
            <p><strong>§11 Schlussbestimmungen</strong></p>
            <ol>
                <li>Der Kunde ist nicht dazu berechtigt, Ansprüche aus dem Vertrag abzutreten.</li>
                <li>Eine Aufrechnung oder die Geltendmachung eines Zurückbehaltungsrechts durch den Kunden ist nur mit anerkannten oder rechtskräftig festgestellten Gegenansprüchen zulässig.</li>
                <li>Es gilt das Recht der Bundesrepublik Deutschland. Erfüllungsort und Gerichtsstand ist das Amtsgericht Offenburg.</li>
                <li>Sollte eine Bestimmung dieser Allgemeinen Geschäftsbedingungen ganz oder teilweise unwirksam sein oder ihre Rechtswirksamkeit zu einem späteren Zeitpunkt verlieren, so wird hierdurch die Gültigkeit der übrigen Bestimmungen nicht berührt. Anstelle der unwirksamen Bestimmung soll im Zuge der Vertragsanpassung eine andere angemessene Regelung gelten, die wirtschaftlich dem am Nächsten kommt, was die Vertragsparteien gewollt hätten, wenn ihnen die Unwirksamkeit der Regelung bekannt gewesen wäre.</li>
            </ol>

            <p class="m-t-2">Stand: Dezember 2018</p>
		</div>
	</div>
</section>
