---
title: Home
name: 
data: 
 projects: ../models/projects.json
 leistungen: ../models/leistungen.json
 process: ../models/process__timeline.json
---

{{> modules/hero }}

{{!-- Leistungen --}}
<section class="section">
	<div class="grid-container">
		<div class="grid-100">
		{{#parseJSON '{"headline":"Ich biete Ihnen an"}' }}
			{{> section__headline }}
		{{/parseJSON}}
		</div>
	</div>
	
	<div class="grid-container" style="max-width: 1400px;">
		{{#each data.leistungen}}
		<div class="grid-25 tablet-grid-50">
			{{> modules/card }}
		</div>
		{{/each}}
	</div>
</section>

{{!-- Projekte --}}
<section class="section section--dark">
	<div class="grid-container">
		<div class="grid-100">
		{{#parseJSON '{"headline":"Eine Auswahl meiner Arbeiten"}' }}
			{{> section__headline }}
		{{/parseJSON}}
		</div>
		
		<div class="grid-33">
			{{> modules/project__card data.projects.[18]}}
		</div>
		<div class="grid-33">
			{{> modules/project__card data.projects.[8]}}
		</div>
		<div class="grid-33">
			{{> modules/project__card data.projects.[19]}}
		</div>
		<div class="grid-100">
			<div class="button-bar button-bar--center">
				<a href="/projekte" class="btn btn__ghost--dark">mehr Projekte anzeigen</a>
			</div>
		</div>
	</div>
</section>

{{!-- Prozess Timeline --}}
<section class="section">
	<div class="grid-container" style="max-width: 1600px;">
		{{> modules/process__timeline}}
	</div>
</section>
