@import "../_variables";

/**
 * @module: aboutm
 * @desc: About Me Section
 * @author: Yannick Herzog
 * @last-modified: 2020-06-21
 **/

.aboutme__section {
  background-image: url(../img/portrait_840.jpg);
  background-position: 60% 50px;
  background-attachment: fixed;
  background-repeat: no-repeat;

  min-height: 100vh;

  display: flex;
  align-items: center;

  @media screen and (min-width: $screen-sm) {
    background-image: url(../img/portrait_980.jpg);
    background-size: cover;
    background-position: 0% top;
  }

  @media screen and (min-width: $screen-md) {
    background-image: url(../img/portrait.jpg);
    background-position: 0% 0%;
    min-height: 60vh;
  }

  @media screen and (min-width: $screen-xl) {
    max-height: 50vh;
  }
}

.aboutme__text-wrapper {
  // padding-top: 2em;
  // padding-bottom: 2em;

  // padding: 0.5rem 0.7rem;
  padding: 2em 0.7rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(127, 127, 127, 0.5);

  @media screen and (min-width: $screen-sm) {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0;
    box-shadow: none;
  }

  @media screen and (min-width: $screen-md) {
    border-radius: 5px;
    padding: 1.5em 2em;
    // background-color: rgba(255, 255, 255, 0.7);
  }

  p {
    color: #000000;
    font-size: 1em;
    line-height: 1.4em;
    text-shadow: 0 0 3px transparentize(#ffffff, 0.01);
  }
}

.aboutme__headline {
  color: $baseColor;
  font-family: $baseFont;
  font-size: 1.6em;
  line-height: 1.6em;
  margin-top: 0;
}

@media screen and (min-width: $media-tablet-min) {
  .aboutme__text-wrapper {
    p {
      background: none;
      font-size: 1.3em;
      line-height: 1.5em;
      padding: 0;
    }
  }

  .aboutme__headline {
    color: $baseColor;
    font-size: 2em;
    line-height: 1.6em;

    span {
      background: none;
      padding: 0;
    }
  }
}

/**
 * CV
 */
.cv__row {
  color: $darkGray;
  margin-top: 2rem;
  font-family: $baseFont;

  &:first-child {
    margin-top: 0;
  }

  strong {
    font-size: 1.1rem;
    font-weight: 700;
  }
}

.cv__period {
  color: #afafaf;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 0.6rem;
}

.cv__period--half-margin {
  margin-top: 0.3rem;
}

.cv__period-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
}

.cv__position {
  display: inline-block;
  color: darken(#afafaf, 10%);
  font-size: 1rem;
  margin-top: 0.3rem;
}

@media screen and (max-width: $media-tablet-max) {
  .cv__period-description {
    margin-top: 0.5rem;
  }
}
