@import '../_variables';

/**
 * @module: Navigation
 * @desc: Hauptnavigation
 * @author: Yannick Herzog
 * @last-modified: 2015-12-10
 **/

.nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		margin-left: 2.5em;
		&:first-child {
			margin-left: 0;
		}
	}
	a {
		color: $baseColor;
		display: inline-block;
		font-family: $navFont;
		font-weight: $navFont--weight;
		text-decoration: none;
		text-transform: uppercase;
	}
}

.nav__main {
	ul {
		padding: 1.2em 0;
		text-align: right;
	}
	li {
	}
	a {
		font-size: $navFont--size;
		line-height: 1.4em;
		padding-top: 0.7em;
		padding-bottom: 0.4em;
		position: relative;
		transition: color .3s ease-in-out;
		
		&:hover:not(.active),
		&:focus:not(.active) {
			color: lighten($baseColor, 10%);
		}

		&.active {
			&:after {
				content: '';
				width: 100%;
				position: absolute;
				bottom: -0.2em;
				height: 4px;
				background: $baseColor;
				left: 0;
			}
		}

	}
}

@media screen and (max-width: $media-tablet-max) {
	.nav__main {
		ul {
			padding-top: 0em;
			padding-bottom: 0em;
			text-align: center;
		}
		li {
			margin-top: 0;
			margin-left: 1.5em;
		}
		a {
			padding-top: 0.9em;
		}
	}
}

@media screen and (max-width: $media-mobile-max) {
	.nav__main {
		li {
			&:not(:first-child) {
				margin-left: 0.8em;
			}
		}
	}
}

.nav__footer {
	margin: 1em 0;
	
	li {
		margin-top: 0;
	}
	
	a {
		font-size: 0.8em;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}


