@import '../_variables';

/**
 * @module: Notifications
 * @desc: Benachrichtigungen
 * @author: Yannick Herzog
 * @last-modified: 2020-05-03
 **/

.notification {
	background-color: $baseColor;
	color: #ffffff;
	overflow: hidden;

	&--yellow {
		background-color: #d3b13b !important;
	}
}

.notification--oldBrowser {
	background-color: #F22613;
}

.notification--noJS {
	background-color: #F89406;
}
