@import '../_variables';

/**
 * @module: Article Paginierung
 * @desc: Paginierung für die einzelnen Artikel 
 * @author: Yannick Herzog
 * @last-modified: 2016-08-17
 **/


.article__pagination {
	background: $gray;
	overflow: hidden;
}

.article__pagination-item {
	padding-top: 2em;
	padding-bottom: 2em;
	min-height: 130px;
}

.article__pagination-item--prev {
	background: lighten($baseColor, 25%);
	padding-left: 1em;
}

.article__pagination-item--next {
	background: lighten($baseColor, 10%);
	text-align: right;
	padding-right: 1em;
}

.article__pagination-item-text {
	color: darken($gray, 10%);
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	line-height: 1.1em;
	margin-bottom: 0.6em;
}

.article__pagination-item-link {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3em;
	line-height: 1.4em;
	height: 4rem;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.article__pagination-item--overview {
	background: lighten($baseColor, 20%);
}

.article__pagination-item-icon {
	color: #ffffff;
	display: block;
	font-size: 1.3rem;
	text-align: center;
}

.article__pagination-item-link--overview {
	@extend .article__pagination-item-link;
	display: block;
	text-align: center;
}
