@import "../_variables";

/**
 * @module: Process Timeline
 * @desc: Von heute bis zum Ziel
 * @author: Yannick Herzog
 * @last-modified: 2018-12-11
 **/

$int: 18%;

.process {
  display: flex;
  flex: 1 0 75vw;
  max-width: 20rem;

  @media screen and (min-width: 1600px) {
    flex: 1 0 0;
  }

  .card__content {
    background-color: $lighterBlue;
    padding: 1.5rem 2rem 1rem;
  }

  .card__header {
    max-height: 11rem;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }

  .card__headline {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 1rem;
  }
}

// Icon
.process__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  &:after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px dashed #ffffff;
    border-bottom: 1px solid $lightGray;
    z-index: auto;
  }
}

.process__icon {
  background-color: $lightGray;
  color: $baseColor;

  border-radius: 50%;
  height: 60px;
  width: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 1;
}
