@import '../_variables';

/**
 * @module: Project Description
 * @desc: Einzelne Projekte
 * @author: Yannick Herzog
 * @last-modified: 2017-04-05
 **/

.project-description {
	p {
		color: $darkGray;
		font-size: 1.1rem;
		line-height: 1.6rem;
	}
}

.project-description__headline {
	color: $baseColor;
	font-size: 1.4rem;
	margin-bottom: 0.5rem;
}
