@import '../_variables';

/**
 * @module: Project Description
 * @desc: Einzelne Projekte
 * @author: Yannick Herzog
 * @last-modified: 2016-08-12
 **/

.project-description {
	p {
		font-size: 1.2rem;
		line-height: 1.8rem;
	}
}

.project-description__headline {
	color: $baseColor;
	font-size: 1.4rem;
	margin-bottom: 0.5rem;
}
