<!DOCTYPE html>
<html class="no-js" lang="de">
	<head>
		{{> head }}
	</head>
	<body class="{{theme}}">
		<!--[if lte IE 9]>
		{{> notification notifications.[0]}}
		<![endif]-->
		<noscript>
		{{> notification notifications.[1]}}
		</noscript>
		{{!-- Header --}}
		{{> header }}
		{{!-- Site Content --}}
		{{> body }}
		{{!-- Hilfe? --}}
		{{#isnt name "kontakt"}}
		{{> ruf_mich_an }}
		{{/isnt}}
		{{!-- Footer --}}
		{{> footer }}
		{{!-- Scripts: Lade Skripte nicht für Startseite --}}
		{{!-- {{#isnt theme ""}} --}}
		{{> scripts }}
		{{!-- {{/isnt}} --}}
		{{#if production}}
		{{> piwik }}
		{{/if}}
	</body>
</html>
