<!DOCTYPE html>
<html class="no-js" lang="de">
	<head>
		{{> head }}
	</head>
	<body class="{{theme}}">
		{{!-- Header --}}
		{{> header }}
		{{!-- Site Content --}}
		{{> body }}
		{{!-- Hilfe? --}}
		{{> ruf_mich_an }}
		{{!-- Footer --}}
		{{> footer }}
		{{!-- Scripts: Lade Skripte nicht für Startseite --}}
		{{#isnt theme ""}}
		{{> scripts }}
		{{/isnt}}
	</body>
</html>
