<!DOCTYPE html>
<html class="no-js" lang="de">
	<head>
		{{> head }}
	</head>
	<body>
		{{!-- Header --}}
		{{> header }}
		{{!-- Site Content --}}
		{{> body }}
		{{!-- Hilfe? --}}
		{{> ruf_mich_an }}
		{{!-- Footer --}}
		{{> footer }}
	</body>
</html>
