<footer class="page__footer">
	<div class="grid-container">
		<div class="grid-50">
			{{> modules/nav__footer }}
		</div>
		<div class="grid-30 prefix-20">
			<p class="text-right">Erstellt in Baden. Alle Rechte vorbehalten.</p>
		</div>
	</div>
</footer>
