<nav class="nav nav__main">
	<ul>
		{{#withFirst site.navigation 5}}
		<li><a href="{{href}}" title="{{title}}" class="{{#is name ../name}}active{{/is}}">{{title}}</a></li>
		{{/withFirst}}
	</ul>
</nav>
