<nav class="nav nav__footer">
	<ul>
		{{#withLast site.navigation 2}}
		<li><a href="{{href}}" title="{{title}}" class="{{#is name ../name}}active{{/is}}">{{title}}</a></li>
		{{/withLast}}
	</ul>
</nav>
