<div class="grid-100">
{{#parseJSON '{"headline":"Unser gemeinsamer Weg zu Ihrem Ziel"}' }}
	{{> section__headline }}
{{/parseJSON}}
</div>

<div class="flex p-t-1" style="overflow-x: auto; -webkit-overflow-scrolling: touch;">
{{#each data.process}}
	<div class="process w-25 p-l-1 p-r-1 m-b-2" style="">
		<div class="card card--shadow card--round p-0">
			<header class="card__header">
				<span class="process__icon-wrapper">
					<i class="process__icon {{iconClass}}"></i>
				</span>
				<h3 class="card__headline">{{name}}</h3>
			</header>

			<main class="card__content">
				<p>{{text}}</p>
			</main>

			{{#if link}}
			<footer class="card__footer">
				<a href="{{link}}" class="card__link">mehr <i class="fa fa-angle-double-right m-l-small"></i></a>
			</footer>
			{{/if}}
		</div>
	</div>
{{/each}}
</div>
