<div class="project__card">
	<figure class="project__card-container">
		<img data-src="{{image}}" alt="{{projectTitle}}" class="project__card-img js-lazyload">
		<figcaption class="project__card-caption">
			<div class="project__card-caption-item-wrapper">
				<div style="display:table-cell; vertical-align:middle;">
					<div class="project__card-caption-item">
						<a href="{{detailUrl}}" title="Details anzeigen" class="project__card-caption-item-link"><i class="fa fa-search"></i> Details anzeigen</a>
					</div>
					{{#with url}}
					<div class="project__card-caption-item">
						<a href="{{../url}}" title="Website &ouml;ffnen" class="project__card-caption-item-link"><i class="fa fa-link"></i> Website &ouml;ffnen</a>
					</div>
					{{/with}}
				</div>
			</div>
		</figcaption>
	</figure>
</div>

