<section class="section--darker">
	<div class="grid-container">
		<div class="grid-100">
			<div class="claim__container--light">
				<span class="claim claim--big">Benötigen Sie Hilfe bei der Realisierung Ihres Projektes?</span>
				<span class="claim claim--sub">Dann sprechen Sie mit mir, um zu sehen, wie ich Ihnen helfen kann.</span>
			</div>
			<div class="button-bar button-bar--center">
				<a href="/kontakt.html" class="btn btn__ghost--light--filled claim__button">Projekt anfragen</a>
			</div>
		</div>
	</div>
</section>
