---
layout: default.hbs
title: Blog
subtitle: Notizen zu Dingen meiner täglichen Arbeit
name: blog
---

<section class="section">
	<div class="grid-container">
		<div class="grid-100">
			{{> page__headline}}
		</div>
		
	</div>

</section>
