<!DOCTYPE html>
<html class="no-js" lang="de">
	<head>
		{{> head }}
	</head>
	<body class="{{name}}">
		<!--[if lte IE 9]>
		{{> modules/notification site.notifications.[0]}}
		<![endif]-->
		<noscript>
		{{> modules/notification site.notifications.[1]}}
		</noscript>

		<div class="notification notification--yellow">
			<p class="m-r-1 m-l-1">
				<a href="https://www.aeonta.com" target="_blank" class="color-white"><strong>aeonta.com:</strong></a>
				Hole das Beste aus deinem Unternehmen heraus, indem du deine Kunden mit Hilfe deiner Daten aus <a href="https://www.sevdesk.de" target="_blank" class="color-white font--bold">sevDesk</a> noch besser kennen lernst.
				<a href="https://www.aeonta.com" target="_blank" class="color-white text-underline">Mehr erfahren</a>
			</p>
		</div>

		{{!-- Header --}}
		{{> header }}
		
		{{!-- Site Content --}}
		{{{ contents }}}
		
		{{!-- Hilfe? --}}
		{{#isnt name "kontakt"}}
		{{> modules/ruf_mich_an }}
		{{/isnt}}
		
		{{!-- Footer --}}
		{{> footer }}
		
		{{!-- Scripts --}}
		{{> scripts }}

		{{#if production}}
		{{> modules/piwik }}
		{{/if}}
	</body>
</html>
