---
layout: default.hbs
title: Baas & Dulsan OHG
name: projekte
---

<section class="section">
	<div class="grid-container">
		{{> project__desc projects.[7] }}
	</div>
</section>
{{> pagination__article prev=projects.[8] next=projects.[6] isProject=true}}
