---
layout: default.hbs
title: Campus App Landingpage
name: projekte
---

<section class="section">
	<div class="grid-container">
		{{> project__desc projects.[3] }}
	</div>
</section>
{{> pagination__article prev=projects.[4] next=projects.[2] isProject=true}}
