---
layout: default.hbs
title: Docady
name: projekte
---

<section class="section">
	<div class="grid-container">
		{{> project__desc projects.[8] }}
	</div>
</section>
{{> pagination__article prev=projects.[9] next=projects.[7] isProject=true}}
