---
layout: default.hbs
title: Fahrschule Hohenbaden GmbH
name: projekte
---

<section class="section">
	<div class="grid-container">
		{{> project__desc projects.[1] }}
	</div>
</section>
{{> pagination__article prev=projects.[2] next=projects.[0] isProject=true}}
