---
layout: default.hbs
title: FV Bodersweier 1922 e.V.
name: projekte
---

<section class="section">
	<div class="grid-container">
		{{> project__desc projects.[0] }}
	</div>
</section>
{{> pagination__article prev=projects.[1] isProject=true}}
