---
layout: default.hbs
title: Hochschule Offenburg - Website-Template
name: projekte
---

<section class="section">
	<div class="grid-container">
		{{> project__desc projects.[12] }}
	</div>
</section>
{{> pagination__article prev=projects.[13] next=projects.[11] isProject=true}}
