---
layout: default.hbs
title: Projekte
subtitle: Eine Auswahl meiner Arbeiten
name: projekte
---

<section class="section">
	<div class="grid-container">
		<div class="grid-100">
			{{> page__headline}}
		</div>
		{{#withSort projects "order"}}
			<div class="grid-33 tablet-grid-50">
			{{> project__card }}
			</div>
		{{/withSort}}
	</div>
</section>
