---
layout: default.hbs
title: Nautic Club Kehl e.V.
name: projekte
---

<section class="section">
	<div class="grid-container">
		{{> project__desc projects.[10] }}
	</div>
</section>
{{> pagination__article prev=projects.[11] next=projects.[9] isProject=true}}
