---
layout: default.hbs
title: Pikante - Feine Spezialitäten
name: projekte
---

<section class="section">
	<div class="grid-container">
		{{> project__desc projects.[14] }}
	</div>
</section>
{{> pagination__article prev=projects.[15] next=projects.[13] isProject=true}}
