---
layout: default.hbs
title: Labor Medienforschung - think new
name: projekte
---

<section class="section">
	<div class="grid-container">
		{{> project__desc projects.[11] }}
	</div>
</section>
{{> pagination__article prev=projects.[12] next=projects.[10] isProject=true}}
