---
layout: default.hbs
title: Vallée Verte Handelsgesellschaft für Naturprodukte mbH
name: projekte
---

<section class="section">
	<div class="grid-container">
		{{> project__desc projects.[6] }}
	</div>
</section>
{{> pagination__article prev=projects.[7] next=projects.[5] isProject=true}}
