---
layout: default.hbs
title: Über
subtitle: Erfahren Sie mehr über mich
name: ueber
---

<section class="aboutme__section">
	<div class="grid-container">
		<div class="grid-50 tablet-grid-50 mobile-grid-60">
			<div class="aboutme__text-wrapper">
				<h2 class="aboutme__headline"><span>Kurzportrait</span></h2>
				<p>
					Mein Name ist Yannick Herzog, ich bin Webdesigner und Webentwickler aus Leidenschaft.<br> Seit 2007 arbeite ich selbst&auml;ndig für kleine und mittelständische Unternehmen in ganz Deutschland.
				</p>
				<p>
					Für Sie erstelle ich schöne, flexible, einzigartige und selbst zu pflegende Internetauftritte auf Basis von HTML, CSS und JavaScript mit den modernsten Webtechnologien und Content-Management-Systemen.
				</p>
			</div>
		</div>
	</div>
</section>
